#!/bin/bash
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
. $DIR/service-runner/tmux-launch

PR=$(dirname $DIR)
cd $PR
launch-service $(calc-session-name "$0")

# run commands in tmux session
run-in-tmux "make start-gdb-server"
run-in-tmux "make debug-with-cmd"
